.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.label {
  font-size: small;
  color: #ffffff;
  text-transform: capitalize !important;
}
